<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="/admin/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Company Name</a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">Company Profile</li>
            <li class="nav-item">
                <a asp-area="Company" asp-controller="CompanyProfile" asp-action="ViewCompanyProfile" class="nav-link">
                    <i class="nav-icon far fa-user"></i>
                    <p>
                        View Company Profile
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="Company" asp-controller="CompanyProfile" asp-action="EditCompanyProfile" class="nav-link">
                    <i class="nav-icon far fa-edit"></i>
                    <p>
                        Edit Company Profile
                    </p>
                </a>
            </li>
        </ul>
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">Company Jobs</li>
            <li class="nav-item">
                <a asp-area="Company" asp-controller="Job" asp-action="AddJob" class="nav-link">
                    <i class="nav-icon far fa-user"></i>
                    <p>
                        Post a Job
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Company" asp-controller="Job" asp-action="ViewJobs" class="nav-link">
                    <i class="nav-icon far fa-user"></i>
                    <p>
                        View Posted Jobs
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->