/DreamJobs/.vs
/DreamJobs/DreamJobs.Web/bin
/DreamJobs/DreamJobs.Web/obj
/DreamJobs/DreamJobs.Web/Logs/*.log
/DreamJobs/Libraries/DreamJobs.Data/bin
/DreamJobs/Libraries/DreamJobs.Data/obj
/DreamJobs/Libraries/DreamJobs.Membership/bin
/DreamJobs/Libraries/DreamJobs.Membership/obj
/DreamJobs/Libraries/DreamJobs.Framework/bin
/DreamJobs/Libraries/DreamJobs.Framework/obj
