<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header"></li>
            <li class="nav-item">
                <a asp-area="Member" asp-controller="Home" asp-action="Index" class="nav-link">
                    <i class="fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                    <i class="fas fa-home"></i>
                    <p>
                        Home
                    </p>
                </a>
            </li>
        </ul>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">Profile</li>
            <li class="nav-item">
                <a asp-area="Member" asp-controller="EmployeeProfile" asp-action="ViewEmployeeProfile" class="nav-link">
                    <i class="nav-icon far fa-user"></i>
                    <p>
                        View Profile
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="Member" asp-controller="EmployeeProfile" asp-action="EditEmployeeProfile" class="nav-link">
                    <i class="nav-icon far fa-edit"></i>
                    <p>
                        Edit Profile
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->