<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="/admin/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Alexander Pierce</a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">Profile</li>
            <li class="nav-item">
                <a asp-area="Member" asp-controller="EmployeeProfile" asp-action="ViewEmployeeProfile" class="nav-link">
                    <i class="nav-icon far fa-user"></i>
                    <p>
                        View Profile
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="Member" asp-controller="EmployeeProfile" asp-action="EditEmployeeProfile" class="nav-link">
                    <i class="nav-icon far fa-edit"></i>
                    <p>
                        Edit Profile
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->