<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header"></li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="nav-link">
                    <i class="fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                    <i class="fas fa-home"></i>
                    <p>
                        Home
                    </p>
                </a>
            </li>
        </ul>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">Category</li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Category" asp-action="ViewCategory" class="nav-link">
                    <i class="fas fa-list-alt"></i>
                    <p>
                        View Categories
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Category" asp-action="Add" class="nav-link">
                    <i class="fas fa-pen-fancy"></i>
                    <p>
                        Add Category
                    </p>
                </a>
            </li>
        </ul>
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">Skill</li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Skill" asp-action="ViewSkill" class="nav-link">
                    <i class="fas fa-address-card"></i>
                    <p>
                        View Skills
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Skill" asp-action="Add" class="nav-link">
                    <i class="fas fa-pen-nib"></i>
                    <p>
                        Add Skill
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->