
@{
    ViewData["Title"] = "Home";
}

<div class="content">
    <div class="">
        <h1>Welcome back,</h1>
        <h3>A lot of companies hiring talent. Find your Dream Job...</h3>
    </div>
    <div>
        <div class="card text-center card-box-shadow">
            <div class="card-body">
                <h5>You can see your matching skills in posted job, like following image</h5>
                <img src="/img/skill-matched.png" alt="Alternate Text" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

