@{
    ViewData["Title"] = "Access Denied";
}

<!--content wrapper-->
<div class="content-wrapper">
    <div>
        <div class="p-5 mb-4 mb-md-8 mb-lg-10 col-12 col-md-9 mx-auto">
            <div class="p-5 rounded d-flex text-center justify-content-center align-items-center img-fluid"
                 style="min-height: 500px; background: url(/img/error-403.jpg) center center no-repeat">
                <div>
                    <h1 class="text-danger">Access Denied</h1>
                    <p>You do not have permission to access this page.</p>
                    <a class="btn btn-primary my-3" asp-controller="Home" asp-action="Index" role="button">Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/content wrapper-->
