@model DreamJobs.Web.Models.Account.SignUpModel

@{
    ViewData["Title"] = "Signup";
}

@section styles
{

}

<!-- page content-->
<div class="container flex-grow-1">
    <!-- Outer Row -->
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image">
                            <img src="~/img/signup.jpg" class="img-fluid w-100 h-100" alt="Signup Logo" />
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5 py-lg-12">
                                <div>
                                </div>
                                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <div>
                                        <div asp-validation-summary="All" class="text-danger" style="margin-top:30px"></div>
                                        <div class="form-group">
                                            <label asp-for="Email">Email Address</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="Email"
                                                   id="Email"
                                                   placeholder="name@example.com" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Password">Password</label>
                                            <input type="password"
                                                   class="form-control"
                                                   name="Password"
                                                   id="Password" />
                                        </div>
                                        <div class="form-group">
                                            <label for="ConfirmPassword">Confirm Password</label>
                                            <input type="password"
                                                   class="form-control"
                                                   name="ConfirmPassword"
                                                   id="ConfirmPassword" />
                                        </div>

                                        <button type="submit" class="btn btn-primary">
                                            Sign Up
                                        </button>
                                    </div>
                                </form>

                                <div class="small">
                                    Already created an account using your email and password?
                                    <a class="d-block" asp-controller="Account" asp-action="Signin">Sign In Using E-mail Address</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}