@{
    ViewData["title"] = "Page Not Found";
}

<!--content wrapper-->
<div class="content-wrapper">
    <div>
        <div class="p-5 mb-4 mb-md-8 mb-lg-10 col-12 col-md-9 mx-auto">
            <div class="p-5 rounded d-flex text-center justify-content-center align-items-center"
                 style="min-height: 500px; background: url(/img/img-err404.png) center center no-repeat">
                <div class="pt-10" style="transform: rotate(-7deg)">
                    <h1>Page Not Found</h1>
                    <p>Sorry, we could not find the page you are looking for</p>
                    <a class="btn btn-primary my-3" asp-controller="Home" asp-action="Index" role="button">Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/content wrapper-->