
@{
    ViewData["Title"] = "Dashboard";
}


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        Admin Home Page
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
