@model PublicJobDetailsModel

@{
    ViewData["Title"] = "Job Details";
}

<div class="container">
    <div class="row my-2">
        <div class="col-12">
            <partial name="_JobDetails" model="@Model.JobDetails" />
        </div>
    </div>
</div>

