@model PublicJobListModel

@{
    ViewData["Title"] = "ViewJobs";
}

@section Styles
{
    <link href="~/css/card-hover.css" rel="stylesheet" />
}

<div class="container">
    @if (Model.JobCardShortLists.Count == 0)
    {
        <h1 class="text-center">No jobs found.</h1>
    }
    else
    {
        <h1 class="text-center">All Jobs</h1>
        @foreach (var singleCard in Model.JobCardShortLists)
        {
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 m-1">
                    <a asp-controller="PublicJob" asp-action="ViewJobDetails" asp-route-jobId="@singleCard.JobId">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="text-success">@singleCard.JobTitle</h4>
                            </div>
                            <partial name="_JobCardShortList" model="@singleCard" />
                        </div>
                    </a>
                </div>
                <div class="col-2"></div>
            </div>
        }
    }
</div>



