@model AddCategoryModel

@{
    ViewData["Title"] = "Add Category";
}

<div class="row p-5">
    <div class="col-2">

    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <h4 class="text-success">
                    Add Job Category
                </h4>
            </div>
            <div class="card-body bg-card">
                <form asp-area="Admin" asp-controller="Category" asp-action="Add" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="CategoryName" class="label">Category</label>
                        <input type="text" asp-for="CategoryName" class="form-control" id="CategoryName" placeholder="Enter Job Category">
                        <p class="text-danger my-2">
                            <span asp-validation-for="CategoryName"></span>
                        </p>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">
                        Add
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-2">

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
